body{
    height: 100vh;
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="number"]{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.sort{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}